{% extends 'account/signup.html' %}
{% block title %}Sign In{% endblock %}
{% load account socialaccount %}
{% block content %}
    <div class="signin-form">
        <div class="grid-x grid-padding-x">
            <h2 class="cell small-12">Sign In</h2>
            <p class="cell small-12"> Sign In with your Account.</p>
            <p class="cell small-12">
                Want to Create an Account? Then please <a href="{{ signup_url }}">sign up</a>.
            </p>
    {#        {% get_providers as socialaccount_providers %}#}
    {#        {% if socialaccount_providers %}#}
    {#        <p>#}
    {#            {{ site.name }}Please sign in with one#}
    {#            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>#}
    {#            for a {{ site.name }} account and sign in below:#}
    {#        </p>#}
    {#        <div class="socialaccount_ballot">#}
    {#          <ul class="socialaccount_providers">#}
    {#            {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
    {#          </ul>#}
    {#          <div class="login-or">or</div>#}
    {#        </div>#}
    {#        {% include "socialaccount/snippets/login_extra.html" %}#}
    {#        {% else %}#}
    {#        <p>If you have not created an account yet, then please#}
    {#            <a href="{{ signup_url }}">sign up</a> first.#}
    {#        </p>#}
    {#        {% endif %}#}
        </div>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="grid-x grid-padding-x">
                {% for error in form.errors %}<div class="cell small-12">{{ error }}</div>{% endfor %}
                <div class="cell small-12">{{ form.login }}</div>
                <div class="cell small-12">{{ form.password }}</div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="cell small-12">
                    <button class="button" type="submit">Sign In</button> &nbsp;
                    <div class="forgot-password"><a href="{% url 'account_reset_password' %}">Forgot Password?</a></div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}